extends layout

block content
  table(class='flashcard' id='flashcard-tbl')
    tr
      th(class='simplified', v-for='char in currentWord.simplified') {{char}}

    tr(class='front', v-if='currentSide === "front"')
      th(class='traditional', v-for='char in currentWord.traditional') {{char}}
    tr(class='front', v-if='currentSide === "front"')
      td(class='hanviet', v-for='char in currentWord.simplified') [{{hanviet[char]}}]

    template(v-for='pinyinAndDef in currentWord.pinyinAndDefinitions')
      //- tr(class='back', v-if='currentSide === "back"')
      //-   td(class='pinyin' v-for='p in pinyinAndDef.pinyin') {{p}}
      tr(class='back', v-if='currentSide === "back"')
        td(colspan='3', class='pinyin') {{pinyinAndDef.pinyin}}
      tr(class='back', v-if='currentSide === "back"')
        td(colspan='3', class='definition')
          span {{pinyinAndDef.definition}}

  script.
    var app6 = new Vue({
      el: '#flashcard-tbl',
      data: {
        words: !{JSON.stringify(words)},
        hanviet: !{JSON.stringify(hanviet)},
        currentWord: {},
        currentIdx: 0,
        currentSide: 'front',
      },
      methods: {
        displayNext: function() {
          this.currentIdx = Math.floor(Math.random() * this.words.length);
          this.currentWord = this.words[this.currentIdx];
        },
        flipSide: function() {
          if (this.currentSide === 'front') {
            this.currentSide = 'back';
          } else {
            this.currentSide = 'front';
          }
        },
      },
      created() {
        this.words.forEach(word => {
          let match = /(?<simplified>[^ ]*)(?: \[(?<traditional>.*)\])?/.exec(word.word);
          word.simplified = match.groups.simplified;
          word.traditional = match.groups.traditional;
        });
        this.currentWord = this.words[0];
      },
    });

    setInterval(function() { app6.flipSide(); }, 3000);
    setInterval(function() { app6.displayNext(); }, 12000);
