a {
  color: #00B7FF;
}

body {
  background-color: gray;
}

.flashcard {
  border: gray;
  border-style: solid;
  padding: 30px 100px 30px 100px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

table {
  table-layout: fixed;
}

td, th {
  text-align: center;
  width: 280px;
}

td {
  font: 40px Verdana, sans-serif;
}

.simplified {
  font: 220px Verdana, sans-serif;
  line-height: 95%;
}

.traditional {
  font: 160px Verdana, sans-serif;
  color: grey;
}

.pinyin {
  color: gray;
  padding-top: 30px;
  padding-bottom: 10px;
}

.hanviet {
  font-style: italic;
  color: gray;
  padding-bottom: 10px;
}

.definition {
  font: 25px "Georgia", sans-serif;
}